<h1> All NBA Players from 2015-2018 </h1><br>

<h2> Search for players by last name below! </h2>
<%= form_tag players_path, method: :get do %>
Player <%= text_field_tag :query, params[:query] %>
<%= submit_tag "search " %>
<% end %>
<br>

<% @players.each do |player| %>
    <%= link_to "#{player.firstName} #{player.lastName}", player_path(player) %><br>
    <br>
<% end %>